.container {
    height: '25rem';
    overflow: auto;
    width: auto;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.loading {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center
}
.formContent{
    text-align: left;
    padding: 15px;
}
.humansContainer{
    height: 25rem;
    overflow: auto;
    width: auto;
    max-width: 98%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
h1{
    text-align: left;
}
.humanItem{
    display: flex;
       padding: 0px 0px;
       max-width: 100%;
       border:2px solid teal;
       margin: 0 auto;
       margin-top: 15px;
       justify-content: left;
       /* gap: 2%; */
       text-align: left;
}
.fieldset {
    width: 100%;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border: 1px solid #ddd !important;
    border-radius: 5px;
}